Repository swimoden/LocalizationExtractor, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, fix, chore, docs, test

fix: swift version
  .github/workflows/Release.yml
  Package.swift
  README.md
Labels: fix, chore, docs

fix package
  Package.swift
Labels: fix

update package version
  .github/workflows/Release.yml
  Package.swift
Labels: fix, chore

use 6.1
  .github/workflows/Release.yml
  .github/workflows/test.yml
Labels: fix, chore

doc: update read me
  README.md
Labels: fix, docs

Feat: Compute new, missing, and changed keys
  Sources/LocalizationExtractor/LocalizationExtractorEngine.swift
  Sources/LocalizationExtractor/LocalizationRegexGenerator.swift
Labels: feature, fix

add tests
  Sources/LocalizationExtractor/LocalizationExtractorEngine.swift
  Tests/LocalizationExtractorTests.swift
Labels: feature, fix, test

patch: make KeyChangeSummary public
  Sources/LocalizationExtractor/LocalizationExtractorEngine.swift
Labels: feature, fix

Feat: ignore keys in stringdict, add option to detect languages automatically, provide an object containing the changes
  Demo/LocalizationExtractorCLI/main.swift
  Sources/LocalizationExtractor/LocalizationExtractorEngine.swift
  Sources/LocalizationExtractor/LocalizationRegexGenerator.swift
  Tests/LocalizationExtractorTests.swift
Labels: feature, fix, test

update read me
  README.md
Labels: fix, docs

Add options to engine to handle different log options.
  Sources/LocalizationExtractor/LocalizationExtractorEngine.swift
  Sources/LocalizationExtractor/LocalizationRegexGenerator.swift
  Tests/LocalizationExtractorTests.swift
Labels: feature, fix, test

add comments store.
  Sources/LocalizationExtractor/LocalizationExtractorEngine.swift
Labels: feature, fix

update sections generation.
  Sources/LocalizationExtractor/LocalizationExtractorEngine.swift
Labels: feature, fix

.github/labeler.yml:

#
#  Release.yml
#  LocalizationExtractor
#
#  Created by mohammed souiden on 4/29/25.
#

feature:
  - Sources/**/*.swift
  - Sources/**/**/*.swift

fix:
  - "**/*.swift"
  - "!Tests/**"

chore:
  - .github/**
  - "**/*.yml"
  - "**/*.yaml"

docs:
  - README.md
  - "**/*.md"

test:
  - Tests/**
